
# Virtual Environment
venv/
*/venv/

# Python bytecode
__pycache__/
*.pyc

# Environment-specific files
.env

# IDE settings (if any)
.vscode/
.idea/

# Macos
.DS_Store
**/.DS_Store

# compilation stuff
de421.bsp

# debugging sandboxes
ted-sandbox.py

q-draft.py

q_network.pth

satellite_tracking_analysis.png